<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <label>First name</label>
      <input type="text" name="first_name" value="{{author.first_name}}" />
      <br />
      <label>Last name </label>
      <input type="text" name="last_name" value="{{author.last_name}}" /> <br />
      <label>Bio</label>
      <input type="type" name="bio" value="{{author.bio}}" /> <br />
      <input type="submit" name="" />
    </form>

    <h2>Authors</h2>
    <ul>
      {%for author in authors%}
      <li>
        {{author.first_name}} {{author.last_name}}
        <form method="POST" action="{% url 'delete_author' author.id %}">
          {% csrf_token %}
          <input type="submit" value="Delete" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
