<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>edit publisher </h1>
    <form method="POST">
        {% csrf_token %}
        <lable>title</lable>
        <input type="text" name="title" value="{{publisher.title}}">
        <lable>coutnry</lable>
        <input type="text" name="country" value={{publisher.country}}>
        <input type="submit">
    </form>
</body>
</html>