
<!DOCTYPE html>
<html>
<head>
    <title>Complete Form</title>
</head>
<body>
    <h2>Complete Form</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'full_form' %}">
        {% csrf_token %}

        <!-- Text Input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <!-- Email Input -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <!-- Password Input -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Number Input -->
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" min="1" max="100"><br><br>

        <!-- Date Input -->
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob"><br><br>

        <!-- Time Input -->
        <label for="time">Preferred Time:</label>
        <input type="time" id="time" name="time"><br><br>

        <!-- Checkbox -->
        <label>Interests:</label><br>
        <input type="checkbox" name="interests" value="Sports"> Sports
        <input type="checkbox" name="interests" value="Music"> Music
        <input type="checkbox" name="interests" value="Reading"> Reading<br><br>

        <!-- Radio Button -->
        <label>Gender:</label><br>
        <input type="radio" name="gender" value="Male"> Male
        <input type="radio" name="gender" value="Female"> Female
        <input type="radio" name="gender" value="Other"> Other<br><br>

        <!-- Dropdown Select -->
        <label for="country">Country:</label>
        <select id="country" name="country">
            <option value="USA">USA</option>
            <option value="UK">UK</option>
            <option value="Canada">Canada</option>
        </select><br><br>

        <!-- Textarea -->
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="40"></textarea><br><br>

        <!-- File Upload -->
        <label for="file">Upload File:</label>
        <input type="file" id="file" name="file"><br><br>

        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>
